mixin city
  .city.js-city
    .city__drop.js-city__drop
    .city__down.js-city__down
      .city__search
        input.city__input.js-city__input(type="text" placeholder="Регион, город, населённый пункт")
        input.city__clear(type="button" value="x")
      .city__list.js-city__list

