.logo {
  width: 88px;
  height: 24px;
  position: relative;

  &::before {
    position: absolute;
    content: '\e900';
    width: inherit;
    height: inherit;
    font-family: studika, Arial, sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: red;
  }
}
