@font-face {
  font-family: openSans;
  src:
    url('../font/openSans.woff2') format('woff2'),
    url('../font/openSans.woff') format('woff'),
    url('../font/openSans.ttf') format('ttf'),
    url('../font/openSans.eot') format('eot');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: formular;
  src:
    url('../font/formular.woff2') format('woff2'),
    url('../font/formular.woff') format('woff'),
    url('../font/formular.ttf') format('ttf'),
    url('../font/formular.eot') format('eot');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: formular;
  src:
    url('../font/formular-medium.woff2') format('woff2'),
    url('../font/formular-medium.woff') format('woff'),
    url('../font/formular-medium.ttf') format('ttf'),
    url('../font/formular-medium.eot') format('eot');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: studika;
  src:
    url('../font/studika.woff2') format('woff2'),
    url('../font/studika.woff') format('woff'),
    url('../font/studika.ttf') format('ttf'),
    url('../font/studika.eot') format('eot');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

html {
  color: #222;
  font-size: 14px;
  font-family: openSans, Arial, sans-serif;
  line-height: 22px;
  background-color: #f1f1f1;
}

body {
  margin: 0;
}
